APP_NAME=Clinica Veterinaria API
APP_VERSION=1.0.0
APP_DESCRIPTION=API para la gestion de una clinica veterinaria

DB_HOST=localhost
DB_PORT=5432
DB_NAME=clinica_veterinaria
DB_USER=postgres
DB_PASSWORD=your_password
